*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    background-color: beige;
}
body, 
.time,
.leftSide,
.rightSide,
.day,
.date{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightSide{
    flex-direction: column;
}
.DigitalClock{
    background-color: black;
    color: white;
    padding: 20px 40px; /*! padding: top and bottom(20px) left and right(40px)*/
    width: 425px;
    border-radius: 20px; /*? because the edges were very sharp before. And I didnt liked it. */
    box-shadow: 0 0 5px 10px rgba(0,0,0,0.5); /* *To give shadow we will use rgba not rgb because in rgba the (a) is for opacity(transparency) where 0 is fully transparent and 1 is completely visible. */
}
#hours{

    font-size: 6rem;
    font-weight: 600;
}
#dots{
    font-size: 4rem;
    font-weight: 800;
    margin-left: 20px;
    margin-right: 20px;
}

#minutes{
    font-size: 4rem;
    font-weight: 600;
}

#seconds{
    font-size: 1.5rem;
    font-weight: 600;
}
#ampm{
    font-size: 1.5rem;
    font-weight: 600;
    color: yellow;
}
.rightBottom{
    margin-left: 64px;
    transform: translateY(-14px);
}
.day,
.date{
    font-size: 2rem;
    font-weight: 100;
}